body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 700px;
    perspective-origin: top right;
    background-color: grey;
}

.cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
}

.front, .back, .top, .down, .left, .right {
    position: absolute;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: black;
}

.front {
    transform: translateZ(100px);
}

.back {
    transform: rotate(180deg) scale(-1) translateZ(-100px);
}

.left {
    transform: rotateY(-90deg) translateZ(100px);
}

.right {
    transform: rotateY(90deg) translateZ(100px);
}

.top {
    transform: rotateX(90deg) translateZ(100px);
}

.down{
    transform: rotateX(-90deg) translateZ(100px);
}

.red, .green, .blue, .yellow, .white, .orange {
    border: 1px solid black;
    border-radius: 5px;
}

.red{
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.white {
    background-color: white;
}

.orange {
    background-color: orange;
}